__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
# Simulation & Large Files
*.png
*.mp4
*.rad
*.pos
*.TXT
*.html
*.stl
*.step
*.stp
*.iges
*.igs
*.log
tmp/
.vscode/
__pycache__/
